* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

/* Top Section Styles */
.top-bar {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
  }
li {
    float: left;
  }
  li a {
    display: block;
    font-size: x-large;
    color: white;
    text-align: center;
    padding: 19px 12px;
    margin-left: 20px;
    text-decoration: none;
   
  }

.social-icons a {
    margin-right: 15px;

}

.social-icons img {
    width: 20px;
    height: 20px;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info a {
    margin-right: 15px;
    color: #fff;
    font-weight: bold;

}
.contact-info i {
    color: #009624;
}

.contact-info button {
    background-color: #00c853;
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 3px;
}

.contact-info button:hover {
    background-color: #009624;
}

/* Navigation Bar Styles */
.navbar {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333333dd;
    padding-bottom: 5px;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: #000;
    border-bottom: 8px solid #f39d12;
    
}